<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance page</title>
    </head>
    <body>
        <h1>This page is under MAINTENANCE</h1>
        <h3>{{screamIt 'Please visit later'}}</h3>
        <p>{{pageTitle}}</p>
        {{> footer}}
    </body>
</html>